@font-face {
  font-family: SFUIDisplay;
  src: url('font/SFUIDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFUIDisplay;
  src: url('font/SFUIDisplay-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  src: url('font/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  src: url('font/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  src: url('font/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}