$app-ff-pro: SFProDisplay, sans-serif;
$app-ff-ui: SFUIDisplay, sans-serif;
$app-fw-regular: 400;
$app-fw-medium: 500;
$app-fw-semibold: 600;
$app-color-black: #000000;
$app-color-white: #FFFFFF;
$app-color-gray: #727783;
$app-color-gray-second: #888888;
$app-color-light: #EEEEEE;
$app-color-red: #EB5757;

